.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #fff, #5eb1ca, #fff);
}
.not-found button {
  background: rgb(255, 243, 243);
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.4s;
  font-family: Nunito;
  margin-top: 1rem;
  cursor: pointer;
  margin: 3rem;
}
.not-found button:hover {
  background: transparent;
  border: 2px solid black;
  color: #000;
  cursor: pointer;
}
.not-found h1 {
  font-size: 3rem;
}
.not-found p {
  margin: 3rem;
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  color: rgb(10, 10, 10);
}
