.meal-star {
    margin: 1rem;
    color: rgb(236, 231, 67);
  }
  .input-star {
    display: none;
  }
  .star {
    cursor: pointer;
  }
  .meal-star p {
    color: gray;
  }
  .rating {
    color: #ffc107;
  }
  