* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  min-height: 100vh;
  background: white;
  background-color: white;
  font-family: Nunito;
}
.meal-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.meal-item {
  border-radius: 5px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1rem;
}
.meal-item button {
  background: rgb(195, 192, 192);
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 2rem;
  transition: 0.4s;
  font-family: Nunito;
  margin-top: 10px;
}
.meal-item button:hover {
  background: transparent;
  border: 2px solid #646464;
  cursor: pointer;
}
