* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito;
}
.meal-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.meal-item {
  border-radius: 5px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1rem;
}
.meal-item button {
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid rgb(171, 166, 166);
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 8px;
  transition: 0.4s;
  font-family: Nunito;
  margin-top: 10px;
}
.meal-item button:hover {
  border: 2px solid rgb(238, 98, 43);
  cursor: pointer;
}
.images {
  width: 70px;
  height: 100px;
}
