.container {
  height: 100vh;
  background-image: url("../../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.container-navbar {
  padding: 10px 0;
  top: 0;
  right: 0;
  left: 0;
  background: white;
}

.navbar-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Nunito;
  margin: 5px;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.navbarLink {
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(226, 119, 4);
  font-weight: bold;
  font-family: "Great Vibes", cursive;
}
.nav-hover :hover {
  color: rgb(226, 119, 4);
}

.head-title {
  font-size: 2.5rem;
  padding-top: 10rem;
  font-family: Nunito;
}
.head-desc {
  font-size: 2.5rem;
  font-family: Nunito;
}
@media only screen and (min-width: 1400px) {
  .head-title {
    font-size: 4rem;
  }
  .head-desc {
    font-size: 4rem;
  }
}
.div-container {
  display: flex;
  flex-direction: column;
}
.button-header {
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 1.5rem;
  border-radius: 1rem;
  transition: 0.4s;
  font-family: Nunito;
  margin-top: 2rem;
}
.button-header:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}
.active {
  color: rgb(226, 119, 4);
}
