.form-style {
  margin: auto;
  max-width: 500px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  font-family: Nunito;
  margin-top: 4rem;
}
.form-style-heading {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding-bottom: 3px;
}
.form-style label {
  display: flex;
  margin: 0px 0px 1rem 0px;
}
.form-style label > span {
  width: 130px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 1rem;
}
.form-style span.required {
  color: red;
}
.form-style input.input-field,
.form-style {
  width: 50%;
  text-align: center;
}
.form-style input.input-field {
  box-sizing: border-box;
  padding: 7px;
  outline: none;
}
.form-style .input-field:focus,
.form-style .tel-number-field:focus {
  border: 1px solid rgb(222, 135, 43);
}
.form-style input[type="submit"],
.form-style input[type="button"] {
  border: none;
  padding: 8px 1rem 8px 1rem;
  background: #f1810a;
  color: #fff;
  box-shadow: 1px 1px 4px #dadada;
  border-radius: 3px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
  background: #a3a1a0;
  color: #fff;
}
.new-order {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.new-order span {
  color: #f1810a;
}
.submit {
  display: flex;
  justify-content: center;
}
.submit input {
  margin-top: 2rem;
  cursor: pointer;
}
.reservation-div{
  position: relative;
}